body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'SF Pro Text', 'SF Pro Icons', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: rgb(35, 35, 35);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(rgb(255, 0, 0), rgb(81, 41, 141));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    position: relative;
}

.text-block{
    background-color: rgb(217, 14, 14);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.6;
}

.text-block a{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
    box-sizing: border-box;
    margin-bottom: 18px;
    border-bottom: 2px solid rgb(217, 14, 14);
    border-radius: 50px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 16px; /* adds space between logo elements */
}

.navbar-logo img {
    height: 40px;
    vertical-align: middle;
}


.navbar-links {
    display: flex;
    gap: 24px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s;
}

.navbar-links a:hover {
    color: rgb(217, 14, 14);
}

.down-button{
    background-color: rgb(235, 99, 99);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
}

.down-button:hover {
    background-color: rgb(215, 79, 79);
}