

.hstack {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.jbhome {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.os-detection {
    margin: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.os-content {
    margin-top: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.os-selector {
    text-align: center;
    margin: 20px 0;
}
.os-combo{
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
}
