body {
    font-family: sans-serif;
    text-align: center;
}

.sidetitle {
    font-size: 28pt;
    font-weight: bold;
}

.deftext {
    font-size: 20pt;
}

.iTunes {
    color: #ff00bf;
}

.iCloud
{
    color:aqua
}

.store {
    color:red
}